*{
    padding-left: 0;
    padding-right: 0;
    font-family: "Josefin Sans", sans-serif;
}

body{
    margin: 0;
}


.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    box-shadow: 0px 0px 5px lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 8px;
}

.navbar p{
    margin-left: 2em;
    font-weight: bold;
}

.navbar_contact{
    margin-right: 2em;
}

.navbar_contact_link{
    padding-left: 4px;
    padding-right: 4px;
}

.navbar_contact_link:hover {
    opacity: 60%;
}

.hello {
    width: 250px;
}

.static-text{
    font-size: 22px;
    font-weight: 350;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.profilePic {
    width: 250px;
}

.wrapper{
    padding-top: 55px;
    text-align: center;
}

b {
    font-size: 7vh;
}

.content{
    padding-left: 8em;
    padding-right: 8em;
}

.content_section{
    font-size: 6vh;
}

.content_section_email-button{
    display: inline-block;
    text-decoration: none;
    text-align: right;
    font-size: 3vh;
    color: white;
    background: black;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 60px;
    float: right;
    margin-right: 5em;
    margin-top: 6px;
}

#secondPresentation{
    margin-top: 3em;
}


footer{
    background-color: #272727;
    bottom: 0;
    height: 150px;
}

@media screen and (max-width:900px), screen and (max-height:500px) {
   
    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .navbar p{
    margin-left: 0em;
   }

   .navbar_contact{
    margin-right: 0em;
   }

   .profilePic{
    padding-left: 12px;
   }

   .wrapper{
    padding-top: 0px;
   }


   .content{
    padding-left: 2em;
    padding-right: 2em;
    }

   .content_section{
    font-size: 4vh;
    }      

   
    .content_section_email-button{
        margin-right: 0;
        margin-left: 0;
        float: none;
        text-align: center;
    }

    #secondPresentation{
        margin-top: 1em;
    }
    
}
